button {
  --height: 54px;
  min-width: 180px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 12px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
